
# OpenEngine Distribution file for DragonPanic.

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# DragonPanic project
git /projects/DragonPanic https://github.com/OpenEngineDK/projects-DragonPanic.git
git-dev /projects/DragonPanic git@github.com:OpenEngineDK/projects-DragonPanic.git

# standard set of extensions
dist /extensions/SDL/SDL.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-SDL/master/SDL.dist
dist /extensions/HUD/HUD.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-HUD/master/HUD.dist
dist /extensions/OpenGLRenderer/OpenGLRenderer.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-OpenGLRenderer/master/OpenGLRenderer.dist
dist /extensions/GenericHandlers/GenericHandlers.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-GenericHandlers/master/GenericHandlers.dist
dist /extensions/OBJResource/OBJResource.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-OBJResource/master/OBJResource.dist
dist /extensions/SDLImage/SDLImage.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-SDLImage/master/SDLImage.dist
dist /extensions/RAWResource/RAWResource.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-RAWResource/master/RAWResource.dist

# cairo extension
dist /extensions/CairoResource/CairoResource.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-CairoResource/master/CairoResource.dist

#sound
dist /extensions/MusicPlayer/MusicPlayer.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-MusicPlayer/master/MusicPlayer.dist
dist /extensions/VorbisResource/VorbisResource.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-VorbisResource/master/VorbisResource.dist
dist /extensions/OpenALSoundSystem/OpenALSoundSystem.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-OpenALSoundSystem/master/OpenALSoundSystem.dist

#particle system
dist /extensions/OEParticleSystem/OEParticleSystem.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-OEParticleSystem/master/OEParticleSystem.dist

#commandline parser
dist /extensions/CommandLineParser/CommandLineParser.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-CommandLineParser/master/CommandLineParser.dist

# windows libraries
# os x libraries
# linux libraries
#linux /libraries http://openengine.dk/data/libraries/sdlimage-linux32.tar.gz
