
# OpenEngine Distribution file for DragonPanic.

# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# DragonPanic project
darcs /projects/DragonPanic http://openengine.dk/code/projects/DragonPanic
darcs-dev /projects/DragonPanic fh.daimi.au.dk:/users/cgd/code/projects/DragonPanic

# standard set of extensions
darcs /extensions/OBJResource     http://openengine.dk/code/extensions/OBJResource
darcs /extensions/SDLImage     http://openengine.dk/code/extensions/SDLImage
darcs /extensions/RAWResource     http://openengine.dk/code/extensions/RAWResource
darcs-dev /extensions/OBJResource     fh.daimi.au.dk:/users/cgd/code/extensions/OBJResource
darcs-dev /extensions/SDLImage     fh.daimi.au.dk:/users/cgd/code/extensions/SDLImage
darcs-dev /extensions/RAWResource     fh.daimi.au.dk:/users/cgd/code/extensions/RAWResource

dist /extensions/SDL/SDL.dist http://openengine.dk/code/extensions/SDL/SDL.dist
dist /extensions/HUD/HUD.dist http://openengine.dk/code/extensions/HUD/HUD.dist
dist /extensions/OpenGLRenderer/OpenGLRenderer.dist http://openengine.dk/code/extensions/OpenGLRenderer/OpenGLRenderer.dist
dist /extensions/GenericHandlers/GenericHandlers.dist http://openengine.dk/code/extensions/GenericHandlers/GenericHandlers.dist


# cairo extension
dist /extensions/CairoResource/CairoResource.dist http://openengine.dk/code/extensions/CairoResource/CairoResource.dist

#sound
darcs /extensions/MusicPlayer       http://openengine.dk/code/extensions/MusicPlayer
darcs-dev /extensions/MusicPlayer       fh.daimi.au.dk:/users/cgd/code/extensions/MusicPlayer
dist /extensions/VorbisResource/VorbisResource.dist http://openengine.dk/code/extensions/VorbisResource/VorbisResource.dist
dist /extensions/OpenALSoundSystem/OpenALSoundSystem.dist http://openengine.dk/code/extensions/OpenALSoundSystem/OpenALSoundSystem.dist

#particle system
dist /extensions/OEParticleSystem/OEParticleSystem.dist http://openengine.dk/code/extensions/OEParticleSystem/OEParticleSystem.dist

#commandline parser
dist /extensions/CommandLineParser/CommandLineParser.dist http://openengine.dk/code/extensions/CommandLineParser/CommandLineParser.dist

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip
win32 /libraries http://openengine.dk/data/libraries/cairo-win32.zip
win32 /libraries http://openengine.dk/data/libraries/openal-win32.zip
win32 /libraries http://openengine.dk/data/libraries/vorbis-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdlimage-win32.zip


# os x libraries

# linux libraries
#linux /libraries http://openengine.dk/data/libraries/sdlimage-linux32.tar.gz



# data
any /projects/DragonPanic/data      http://www.openengine.dk/data/projects/DragonPanic/Island.zip
any /projects/DragonPanic/data      http://www.openengine.dk/data/projects/DragonPanic/Dragon.zip
any /projects/DragonPanic/data      http://www.openengine.dk/data/images/Smoke.zip
any /projects/DragonPanic/data      http://www.openengine.dk/data/projects/DragonPanic/dragonsounds.tar.gz
any /projects/DragonPanic/data/logo http://www.openengine.dk/data/images/logo/small.png
any /projects/DragonPanic/data      http://www.openengine.dk/data/projects/DragonPanic/1.tga
any /projects/DragonPanic/data      http://www.openengine.dk/data/images/star.jpg
